<div class="nav-bar">
  <div class="nav-link"><a href="/">Home</a></div>
  <div class="nav-link"><a href="/leaguechamps">League Champs</a></div>
  <div class="nav-link"><a href="/resume">Resume</a></div>
</div>