{{> navBar }}
<main class="page-container">
    <h1>Harrison Tate Mitchell</h1>

    <div>4341 N US Hwy 93</div>
    <div>Mackay, ID 83251</div>
    <div>(817) 908-5197</div>
    <div>htatemitchell@gmail.com</div>
    <div>GitHub: <a href="https://github.com/tm437647" target="_blank">tm437647</a></div>

    <h2>Experience</h2>
    <h3>Arthur Murray Franchised Dance Studios, Dallas TX — Instructor, Specialist</h3>
    August 2019 - March - 2022
    <p>Demonstrated ability to learn and  teach, communicate with clients and coworkers,  meet sales goals, and work with a  team.</p>


    <h2>Education</h2>
    <h3>BYU - Idaho, Rexburg ID — BA in Dance Pedagogy</h3>
    April 2015 - July 2019
    <p>Degree emphasis in education and instruction. </p>
    <p>Also completed courses with high grades in: </p>
    <ul>
        <li>Procedural Programming in C++</li>
        <li>Object Oriented Programming in C++</li>
        <li>Data Structures</li>
        <li>Web Engineering I</li>
        </ul>

    <h3>Web Development Courses</h3>
    <ul>
        <li>freeCodeCamp - Responsive Web Design</li>
        <li>freeCodeCamp - Basic JavaScript</li>
        <li>freeCodeCamp - ES6</li>
    </ul>

    <h2>Projects</h2>
    <h3>Game Store Finder — Vue3 and Quasar App</h3>
    <p>Agile listing site for game & hobby stores.</p>
    <a href="https://tm437647.github.io/gamestoretourism-deploy/" target="_blank">See Site</a>

    <h2>Technical Skills</h2>
    <ul>
        <li>Semantic HTML 5</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>ES6</li>
        <li>JSON</li>
        <li>Node.js</li>
        <li>Handlebars</li>
        <li>Vue3</li>
        <li>Rest APIs</li>
        <li>GitHub</li>
        <li>VSCode</li>
    </ul>

    <h2>Awards</h2>
    <p>Eagle Scout Award from Boy Scouts of America - 2011</p>

    <h2>Languages</h2>
    <p>Fluent in English and Spanish</p>

</main>